@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Times New Roman", Times, serif;
}

header section img {
  max-width: 100%;
  height: auto;
}

.home__area {
  text-align: center;
  background-color: #3800f2;
  color: white;
}
.home__lista--item {
  display: inline-flex;
  font-size: 1.5em;
  padding: 0.5em;
}
.home__lista--item:hover {
  text-decoration: underline;
  text-decoration-color: aqua;
}

.main__titulo {
  margin: 1em;
}
.main__servicos--item {
  border: 0.1em solid gray;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em;
  margin: 1em;
  padding: 1em;
  font-size: 1rem;
}
.main__button {
  background-color: #3800f2;
  color: white;
  font-weight: bold;
  border: 0.5em solid #3800f2;
  border-radius: 0.5em;
  margin: 1em;
  width: 40%;
  padding: 0.5em;
  font-size: 1em;
}
.main__button:hover {
  background-color: aqua;
  border-color: aqua;
}
.main__depoimentos--item {
  border: 0.1em solid gray;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em;
  margin: 1em;
  padding: 1em;
  font-size: 1rem;
}
.main__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__input, .main__input--mensagem {
  text-align: center;
}

.container-um { /* container do código todo para organização com grid */
  display: grid;
  grid-template-areas: "header header header header" "sidebar main main aside" "footer footer footer footer";
  min-height: 100vh;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  text-align: center;
}

footer {
  grid-area: footer;
}

.home__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  margin-bottom: 1em;
  margin: 2em;
}

/* ajustes versao para desktop */
@media (min-width: 901px) {
  .main__servicos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin: 10px;
  }
  .main__depoimentos--item {
    margin-left: 20%;
    margin-right: 20%;
    padding: 1em;
  }
  .main__input {
    margin: 0.5em;
    width: 50%;
    height: 2rem;
  }
  .main__input--mensagem {
    margin: 0.5em;
    height: 5rem;
    width: 50%;
  }
}
/* ajusestes versao tablets */
@media (min-width: 601px) and (max-width: 900px) {
  .main__servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin: 10px;
  }
  .main__depoimentos--item {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.5em;
  }
  .main__input {
    margin: 0.5em;
    width: 70%;
    height: 2rem;
  }
  .main__input--mensagem {
    margin: 0.5em;
    width: 70%;
    height: 4rem;
  }
}
/*ajustes versao celulares */
@media (max-width: 600px) {
  .home__lista--item {
    display: inline-flex;
    font-size: 1em;
    padding: 0.5em;
  }
  .main__servicos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
    margin: 10px;
  }
  .main__button {
    width: 50%;
  }
  .main__input {
    margin: 0.5em;
    width: 80%;
    height: 4em;
  }
  .main__input--mensagem {
    margin: 0.5em;
    width: 80%;
    height: 8em;
  }
  .main__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-size: 0.7em;
  }
}

/*# sourceMappingURL=estilos.css.map */
