* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.home__area {    
    text-align: center;
    background-color: #3800f2;
    color: white;
}

.home__lista--item {
    display: inline-flex;
    font-size: 1.5em;
    padding: 0.5em;   
}

/* aqui tive que manter do jeito antigo */ 
/* não consegui identificar porque mas quando usei BEM a imagem começou a alterar o tamanho */
/* deixei o jeito que tinha feito no html, tinha usado .home__banner como class para editar */
header section img {
    max-width: 100%;
    height: auto;
}

.nav__lista--item:hover {
    text-decoration: underline;
    text-decoration-color: aqua;
}

.main__titulo {
    margin: 1em;
}

.main__serviços--item {
    border: 0.1em solid gray;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em;
    margin: 1.0em;
    padding: 1em;
    font-size: 1rem;
}

.main__button {
    background-color: #3800f2;
    color: white;
    font-weight: bold;
    border: 0.5em solid #3800f2;
    border-radius: 0.5em;
    margin: 1em;
    width: 40%;
    padding: 0.5em;
    font-size: 1em;
}

.main__button:hover {
    background-color: aqua;
    border-color: aqua;
}

.main__depoimentos--item {
    border: 0.1em solid gray;
    border-radius: 0.5em;
    box-shadow: 0.1em 0.1em;
    margin: 1.0em;
    padding: 1em;
    font-size: 1rem;
}

.main__form {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.main__input, .main__input--mensagem {
    text-align: center;
}

/* celulares */
@media (max-width: 600px) {
   .home__lista--item {
    display: inline-flex;
    font-size: 1em;
    padding: 0.5em;   
    }
   
    .main__serviços {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        margin: 10px; 
    }

    .main__button {
        width: 50%;        
    }

    .main__input {
        margin: 0.5em;
        width: 80%;
        height: 2rem;            
    }

    .main__input--mensagem {
        margin: 0.5em;
        width: 80%;
        height: 4rem;
    }

    .home__footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-bottom: 1em;
        margin: 2em;
        font-size: 0.7em;
    }
}

/* tablets */ 
@media (min-width: 601px) and (max-width: 900px){
    .main__serviços {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        text-align: center;
        margin: 10px; 
    }

    .main__depoimentos--item {
        margin-left: 10%;
        margin-right: 10%;
        padding: 0.5em;
    }

    .main__input {
        margin: 0.5em;
        width: 70%;
        height: 2rem;          
    }

    .main__input--mensagem {
        margin: 0.5em;
        width: 70%;
        height: 4rem;
    }
}

/* desktop */
@media (min-width: 901px) {
   .main__serviços {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
        margin: 10px; 
    }

    .main__depoimentos--item {
        margin-left: 20%;
        margin-right: 20%;
        padding: 1em;
    }

    .main__input {
        margin: 0.5em;
        width: 50%;
        height: 2rem;          
    }

    .main__input--mensagem {
        height: 5rem;
        margin: 0.5em;
        width: 50%;
    }

}